
/*..................Universal styles.................*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@media only screen and (max-width: 480px){
  html{

  }
}

html {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto;
}


.banner {

  background-color: lightgrey;
  padding-top: 4rem;
}
.



/* .....header position and styles for desktop....*/


header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px grey;
  align-items: center;
  background-color: white;
  opacity: 0.6;  /*...for construction purposes only....*/
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px grey;
  align-items: center;
  background-color: white;
  opacity: 0.6;  /*...for construction purposes only....*/
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 1rem;
}

header .content .logo {
  padding-left: 0.5rem;
  height: 2rem;
}

header  span {
   flex:1 ;
   color: grey;
   vertical-align: middle;
}

header span strong {
  font-weight: bold;
  color: black;
}

header nav ul {
  display: flex;
}

nav a {
  vertical-align: bottom;
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}

.desktop li:last-child{
  padding-right: 1rem;
}


header .mobile {
  display: none;
}

/*..........header position and styles for mobile..............*/


@media only screen and (max-width: 480px){
  header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px grey;
    align-items: center;
    background-color: white;
    opacity: 0.6;  /*...for construction purposes only....*/
  }
 .desktop{
  display: none;
}
 .logo {
  display: none;
}
 span{
  display: none;
}

.banner{
  margin-top: 0rem;
  padding-top: 4rem;
}

header .mobile {
  display: flex;
  width: 100%;
  height: 4rem;
}

.mobile li {
  flex:1;
}

.mobile li:last-child {
  flex:0;
  padding-right: 1.5rem;
}

.mobile li:first-child {
  padding-left: 1rem;
}

 header .content {
  padding: 0rem;
}

.mobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0rem;
  margin: 0rem;
  }
}

/*....................mainContent......................................*/

.bannermobile {
  display: none
}
.wordsmobile {
  display: none;
}
.banner {
  display: flex;
  width: 100%;
  height: 45rem;

}
.girlsContainer{    /*.....checking.....*/
  width: 60%;
  height: auto;
  margin-bottom: 1rem;


}
/*...
.girlsContainer .girls .pic{ /*............this.....*/
  display: block;
/*  overflow-x: hidden; ..*/
/*  width: auto;...*/
}

.girls {
  width: 100%;
  height: 95.5%;

  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 3rem;

 background-image: url("../images/bookGirls.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}...*/
/*...girls {
  display: flex;
  background-image: url("..image/bookGirls.jpg");
  background-size: cover;
  margin: 1.5rem 1rem 1.5rem 1.5rem;

}  ...*/


.desk{
  max-width: 100%;
  max-height: 100%;


}
.girls {
  width: 100%;
  height: 100%;
  opacity:0.5;
  overflow: hidden;
  padding-right: 1.5rem;
  padding-left: 1.5rem;


}



.words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.banner .words {
  width: 40%;
}
.words {
  width: 40%;
/*.  overflow-x: hidden; /*....checking...*/
}

.words h1 {
  font-size: 3rem;
  font-weight: bold;
  padding: 6rem 1rem 3rem 1rem;
}

.words .span {
  font-size: 1.5rem;
  padding: 2rem 1rem 2rem 1rem;
  margin: 1rem 1rem 2rem 1rem;
}

.banner .words a {
  display: flex;
  padding: 1rem 8rem 1rem 8rem;
  white-space: nowrap;
}

.banner a  {
  font-size: 1.3rem;
  text-align: center;
  border: 1px solid grey;
  background-color: grey;
  padding: 1rem 8rem 1rem 8rem;
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  margin-top: 2rem;
}

.banner a:hover {
  background-color: red;
 }

 /*...mobile ..........*/

@media only screen and (max-width: 480px){
  .banner {
    display: none;
  }
  .words {
    display: none;
  }
  .girls {
    display: none;
  }

  .bannermobile {
    display: block;
    position: relative;
    flex-direction: column;
    top: 4rem;
    background-color: lightgrey;
    margin-bottom: 100px;
    padding-bottom: 1rem;
  }

  .imgmobile {
    width: 100%;
    height: 0%;
    height: auto;  /*....check....*/
    opacity:0.2;
  }
  .mob {
    max-width: 100%;
    max-width: 100%;
  }

  .bannermobile h1 {
    text-align: left;
    white-space: nowrap;
    padding-top: 2rem;
  }
.mobilewords{
  background-color: lightgrey;

}
.mobilewords .mobH1 {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0rem 2rem 1rem;
    white-space: nowrap;
  }

.mobilewords .mobP {
    display: flex;
    font-size: 1.5rem;
    padding: 0rem  0rem 1.5rem 1.5rem;
  }

  .bannermobile .mobSpan {
    display: flex;
    font-size: 1.5rem;
    padding: 0rem 0rem 2rem 0rem;
    margin-bottom: 1.5rem;
  }

  .bannermobile a  {
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid grey;
    background-color: grey;
    padding: 1rem 10rem 1rem 10rem;
    margin-left: .5rem;
    text-decoration: none;
    color: white;
    margin-top: 2rem;
    align-items: center;
    margin-left: 1.75rem;
    margin-right: auto;
    white-space: nowrap;
  }
.bannermobile a:hover {
  background-color: red;
}
.UppermidContainer{
  display: none;
}
.Uppermiddesktop{
  display: none;
}
.Uppermiddesktop{
  display: none;
}
.trouble{
  display: none;
}
.troubleimage{
  display: none;
}
.Uppermidside{
  display: none;
  border-left: 1px solid lightgrey;
}
 .container{
   display: none;
 }
 .writting{
   display: none;
 }
 .text{
   display: none;
 }
 .img{
   display: none;
 }
 #grey{
   display: none;
 }
 .learning{
   display: none;
 }
 .color{
   display: none;
 }
 .learnContainer{
   display: none;
 }
 .learnbox{
   display: none;
 }
 .image1{
   display: none;
 }
 .para{
   display: none;
 }
.image2{
  display: none;
}
.image3{
  display: none;
}
.image4{
  display: none;
}
.image5{
  display: none;
}
.image6{
  display: none;
}
.videoContainer{
  display: none;
}
.vidContainer{
  display: none;
}
.video{
  display: none;
}
.vidTxt{
  display: none;
}
.videoSidebar{
  display: none;
}
.vidsideContainer{
  display: none;
}
.pictures{
  display: none;
}
.txt{
  display: none;
}
.foot{
  display: none;
}
.square{
  display: none;
}
.reserved{
  display: none;
}
.rectangle{
  display: none;
}
.videoContainer h1{
  display: none;
}

 /*.....................Uppermid mobile section...........*/

 .UppermidMobile {
  display: block;
  position: relative;
  bottom: 42rem;
  justify-content: center;
  align-items: center;
}

.mobileContainer {
  display: block;
  width: 100%;
}

.UppermidMobile img{
    width:100%;
  /*  padding-right: 1rem;
    margin-right: 1rem;...*/
}

.mobileContainer{
  padding: 0rem 1rem 3rem 1rem;
}

.info {
  padding-left: 1rem;
}

.info .mobileH3{
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.info p{
  font-size: 1.1rem;
  padding-bottom: 1rem;
}

 .at{
  text-decoration: none;
  margin-top: 2rem;
}

/*................Lowermid mobile section......................*/

.Lowermid {
  display: block;
  position: absolute;
/*  top: 2200px;*/
  top: 130rem;
  margin-top:2rem;
}

.Lowermid h1{
  text-align: center;
  font-size: 3rem;
}

.Lowermid ul{
  width: 100%;
  margin-right: auto;
}

.Lowermid li{
  background-color: lightgrey;
  margin: 1rem;
  list-style: none;
}

.Lowermid li:last-child{
  margin-bottom: 2rem;
}

.buttons button{
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem 1.5rem 1rem;
}

/*....................video thesis......................*/

.thesis h1{
  margin-top: 2rem;
  padding-top: 3rem;
  margin-bottom: 1rem;
}

.film {
  padding-bottom: 1.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;

}

/*................footer................................*/

.rights p{
  text-align: left;
  font-size: 0.8rem;
  padding: 1rem 0rem 1rem 2rem;
  bottom: -150rem;
}


} /*....media tag ........*/ /*...very important...*/


@media only screen and (min-width: 760px){
  .UppermidMobile img{
    display: none;
  }
  .UppermidMobile{
    display: none;
  }
.mobileContainer{
  display: none;
}
.imgmob{
  display: none;
}
.info{
  display: none;
}
.mobileH3{
  display: none;
}
.mobileP{
  display: none;
}
.Lowermid{
  display: none;
}

} /*....very important media tag....*/
/*..................Uppermid section  desktop version.....................*/


.UppermidContainer {
  display: flex;
  width: 100%;
  height: 42rem;

}

.Uppermiddesktop {
    display: flex;
    width: 60%;
    height: 42rem;
    flex-direction: column;
    float: left;
    padding-bottom: 2rem;
}

.trouble{
  max-width: 100%;
  height: 25rem;
  margin: 2rem 1.5rem 2rem 1.5rem;
  background-image: url("../images/studyGuy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
                                 /*...trouble...*/
.troubleimage{
  max-width: 100%;
  max-height: 100%;
}


.Uppermidside {
    display: flex;
    width: 39.9%;
    height: 39rem;
    flex-direction: column;
    float: right;
    padding-top: 1rem;
    border-left: 1px solid lightgrey;
    padding-bottom: 4rem;
}

 .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid lightgrey;
}

.container:last-child  {
  background-color: lightgrey;
}

.img {
  width: 35%;
  height: auto;
  padding-left: 1rem;
}

.clsimg{
  max-width: 100%;
  max-height: 100%;
}

.writting{
  width: 65%;
  height: auto;
  padding-left: 1rem;
}
.writting h3{
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}
.writting p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.writting a{
  padding-top: 1rem;
  text-decoration: none;
}

 .text{
   max-width: 100%;
   padding-left: 1.5rem;
   padding-right: 2rem;

 }
 .text h2{
   font-size: 2.5rem;
   font-weight: bolder;
   padding-bottom: 1.5rem;
 }
 .text p{
   font-size: 1.1rem;
}
.text h4{
  font-size: 1.1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
/*.............................learning................*/

.learning{
  display: block;
  width: 100%;
  height: 49rem;
  padding-top: 0rem;
  margin-top: 2rem;

}

.color{
  width: 100%;
  padding-bottom: 1.5rem;
  background-color: lightgrey;
}
.color h1{
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 3rem;
  padding-bottom: 2rem;

}
.learnContainer {
  display: inline-flex;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.learnbox{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: -1rem;
  width: 21.5rem;
  height: 28rem;
}

.image1{
  height: 50%;
  background-image: url("../images/desktops.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image2{
  height: 50%;
  background-image: url("../images/mobile.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image3{
  height: 50%;
  background-image: url("../images/vintageCamera.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image4{
  height: 50%;
  background-image: url("../images/laptop.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image5{
  height: 50%;
  background-image: url("../images/chess.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image6{
  height: 50%;
  background-image: url("../images/appleWatch.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -0.5rem;
}
.image {

  height: 50%;
  width: auto;
}
.learnimage{
  max-height: 100%;
  max-width: 100%;
}
.para {
  height: 50%;
  width: auto;
  background-color: white;
  margin-top: -1rem;
}
.para h3{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem 0rem 1rem 1rem;
}
.para h4{
  font-size: 1.2rem;
  font-weight: lighter;;
  padding: 0.5rem 0rem 0.5rem 1rem;
}
.para p{
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 1rem;
  padding-top: 1rem;
}

/*.................................video............................*/

.videoContainer{
  display: block;
  margin-top: 14.5rem;  /*...px....232...*/
  width: 100%;
  height: 43rem;

}
.videoContainer h1{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.vidContainer{
  width: 60%;
  float: left;
}

.video{
  max-width: 100%;
  max-height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.vidTxt h2{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
.vidTxt p{
  font-size: 1rem;
  padding-bottom: 2rem;
  line-height: 1.5rem;
 }

.videoSidebar{
  width: 40%;
  height: 30rem;
  margin-bottom: 1rem;
  float: right;
}
.vidsideContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.vidsideContainer:first-child{
  background-color: lightgrey;
}
.txt{

}
.txt h3{
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.txt p{
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
}
.pictures{
  width: 35%;
  height: auto;
  padding: 1rem 1rem 1rem 1rem;
}
.picturesvid{
  max-width: 100%;
  max-height: 100%;
}

/*......................footer........................*/

.foot{
  display: block;
  width: 100%;
  height: 100px;

  margin-top: 6.25rem;  /*...100px...*/
}
.square{display: block;
  width: 100%;
  height: 6.25rem;  /*...100px..*/
  border-top: 1px solid lightgrey;
}
.reserved h4{
  display: inline-flex;
  width: 50%;
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 0.8rem;


}
.rectangle h5{
  position: relative;
  display: inline-flex;
  width: 50%;
  float: right;
  align-content: flex-end;
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1.5rem;
  margin-top: -2rem;
  font-size: 0.8rem;

}
